<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{#production}}
		<link href="../css/main.min.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>
		<link href="../css/main-responsive.min.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.min.js"></script>
		<![endif]-->
{{else}}
		<link href="../css/main.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>
		<link href="../css/main-responsive.css" rel="stylesheet">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->
{{/production}}
	</head>

	<body>

		{{>header}}

		<div class="container">
			{{>body}}
			{{>footer}}
		</div>

{{#production}}
		<script src="../js/vendor/jquery.min.js"></script>
		<script src="../js/frontend.min.js"></script>
{{else}}
		<script src="../js/vendor/jquery.js"></script>
		<script src="../js/frontend.js"></script>
{{/production}}

	</body>
</html>
